.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #333;
  align-self: center;
  background-color: white;
  width: 90%;
  margin: 0 auto;
}
.timesName {
    display: flex;
    align-self: center;
  font-family: "OldLondon";
  font-size: 5em;
  margin: 2rem auto;
  img {
    width: 100px; margin:0 2rem
  }
}
